.navbar {
  margin-bottom: 0;
}

.landingcontainer {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  background-image: url(/acback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.custom-card,
.bg-black-op {
  background: rgba(0, 0, 0, 0.6);
}
