.landingcontainer {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.custom-card,
.bg-black-op {
  background: rgba(0, 0, 0, 0.6);
}

.landing-pic {
  width: 100px;
  height: 200px;
  position: fixed;
  z-index: -10px;
}

.pic-isabel {
  background-image: url(/isa.png);
  background-position: center;
  background-size: cover;
  top: 20%;
  left: 20%;
}

@media screen and (max-width: 800px) {
  .pic-isabel {
    left: 5%;
  }
}
