.navbar {
  margin-bottom: 0;
}

.landingcontainer {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  background-image: url(/acback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;

  background: white;
  border-radius: 20px;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}
