.gallery-img {
  width: 720px;
  height: 280px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 2px;
  box-shadow: 0 0 5px 1px lightgray;
}

.navbar {
  margin-bottom: 0;
  background-color: sandybrown;
}

.navbar-brand {
  font-weight: bold;
}

.gallery-container {
  width: 75%;
}

.gallery-container input[type='file'] {
  font-size: 12pt;
  opacity: 0;
}

.gallery-container input[type='file']:hover {
  opacity: 0.8;
  background-color: gray;
}

.img-empty {
  background-color: gray;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 18pt;
}

.img-empty input[type='file'] {
  opacity: 1;
  background-color: gray;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  background-color: sandybrown;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 20px;
}

.jumbotron .container {
  max-width: 40rem;
}

.btn-primary {
  background-color: lightsalmon;
  border: 1px solid sandybrown;
}

.btn-primary:hover {
  background-color: burlywood;
  border: 1px solid sandybrown;
}

@media screen and (max-width: 1000px) {
  .gallery-img {
    width: 100%;
  }

  .gallery-container {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .container-mobile {
    padding: 0px;
  }

  .jumbotron {
    border-radius: 0px;
  }
}
